@model SearchTestModel.UserAccessPOCO

@{
}


<div class="border border-primary mb-1" data="">
    <span style="margin-left:6px; font-size:13px">@Model.Email</span>
    <button class="btn btn-danger btn-sm m-2" onclick="onDeleteFromTemplate(this)">X</button>
</div>
