@page
@using Syncfusion.EJ2.Buttons
@using Syncfusion.EJ2.Navigations;
@using authHelpers = Forms.AuthorizationHelpers; 
@model PersonalPageModel
@{
    string antiForgeryKey = authHelpers.AuthHelper.ANTI_FORGERY;
}

<h1>Personal Page</h1>
<br/>

<ejs-tab id="ej2Tab2">
    <e-tab-tabitems>
        <e-tab-tabitem>
            <e-content-template>
                <div>
                    <div class="e-tab-header">
                        <div>My templates</div>
                        <div>My forms</div>                              
                    </div>
                    <div class="e-content">
                        <div>
                            <ejs-grid id="TemplateGrid" dataSource="@Model.TemplateDisplayList" allowSorting="true" allowSelection="false">
                                <e-grid-editSettings></e-grid-editSettings>
                                <e-grid-columns>
                                    <e-grid-column field="Title" headertext="Title"></e-grid-column>
                                    <e-grid-column field="Description" headerText="Description"></e-grid-column>
                                    <e-grid-column template="#templateEdit"></e-grid-column>
                                    <e-grid-column template="#temlateDelete"></e-grid-column>
                                </e-grid-columns>
                            </ejs-grid>
                            <div>
                                <a class="btn btn-outline-primary btn-sm" asp-page="CreateTemplate">
                                    Create new template
                                </a>
                            </div>
                        </div>
                        <div>
                            <ejs-grid id="FormGrid" dataSource="@Model.FormDisplayList" allowSorting="true" allowSelection="false">
                                <e-grid-editSettings></e-grid-editSettings>
                                <e-grid-columns>
                                    <e-grid-column field="Title"></e-grid-column>
                                    <e-grid-column field="Description"></e-grid-column>
                                    <e-grid-column field="Author" headerText="Template by"></e-grid-column>
                                    <e-grid-column template="#formEdit"></e-grid-column>
                                    <e-grid-column template="#formDelete"></e-grid-column>
                                </e-grid-columns>
                            </ejs-grid>
                        </div>
                    </div>
                </div>
            </e-content-template>
        </e-tab-tabitem>
    </e-tab-tabitems>
</ejs-tab>

<form id="antiForgery" asp-antiforgery="true" hidden>
</form>


<script id="templateEdit" type="text/x-template">
    <button class="btn btn-outline-primary btn-sm" onclick="onEditTemplate(this)">
        Manage
    </button>
</script>

<script id="temlateDelete" type="text/x-template">
    <button class="btn btn-outline-danger btn-sm" onclick="onDeleteTemplate(this)">
        Delete
    </button>
</script>

<script id="formEdit" type="text/x-template">
    <button class="btn btn-outline-primary btn-sm" onclick="onEditForm(this)">
        View
    </button>
</script>

<script id="formDelete" type="text/x-template">
    <button class="btn btn-outline-danger btn-sm" onclick="onDeleteForm(this)">
        Delete
    </button>
</script>


<div class="modal" tabindex="-1" id="exampleModalLong">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete template</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure?</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="deleteConfirm" class="btn btn-primary" data-bs-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>



<style>
    .e-grid .e-focused:not(.e-menu-item):not(.e-editedbatchcell) {
        box-shadow: 0 0 0 0px  green inset;
    }
    
    .e-grid .e-focus button {
        outline: none !important;
        box-shadow: none !important;
    }
</style>

<script>

    function getAjaxHeaders() {
        var antiForgeryKey = "@Html.Raw(antiForgeryKey)"; 
        let antiforgeryName = "__RequestVerificationToken";
        let antiForgeryVal = $("#antiForgery").find(`input[name=${antiforgeryName}]`).val();        
        let headers = new Headers();
        headers.append("Content-Type", "application/json");
        headers.append(antiForgeryKey, antiForgeryVal);
        return headers;
    }

    function getGridRowOfButton(target, gridId)
    {
        var rowElement = target.closest('tr');
        var rowIndex = parseInt(rowElement.getAttribute('data-rowindex'), 10);
        const grid = document.querySelector(gridId).ej2_instances[0];
        let gridRow = grid.getRowsObject()[rowIndex];
        return gridRow;
    }

    function onEditTemplate(target) {
        let gridRow = getGridRowOfButton(target, "#TemplateGrid");
        var rowData = gridRow.data.Id;
        window.location.href = `TemplateManagement?id=${rowData}`;
        return;                
    }

    function onDeleteTemplate(target)
    {
        var gridRow = getGridRowOfButton(target, "#TemplateGrid");
        let rowData = gridRow.data.Id;
        console.log(rowData);
        
        var modal = $("#exampleModalLong");
        modal.find(".modal-title").text("Delete Template");
        const myModal = document.getElementById('exampleModalLong')        
        myModal.addEventListener('hidden.bs.modal', event => {

            var buttonId = document.activeElement.getAttribute('id');
            if (buttonId == 'deleteConfirm') {

            let link = `PersonalPage?handler=Delete&id=${rowData}`;
            console.log("link: " + link);
            fetch(link, {
                method: 'POST',
                headers: getAjaxHeaders()                
            }).then(response => response.json())
                .then(data => {
                    if (data.success) {
                        window.location.href = `PersonalPage`;
                        alert('deleted');
                    }
                    else {
                        alert(data.message);
                    }
                })
                .catch(error => {
                    alert('Something went wrong');
                });
            }
            const newModal = myModal.cloneNode(true);
            myModal.parentNode.replaceChild(newModal, myModal);
        });

        modal.modal('toggle'); 
    }

    function onEditForm(target) {
        let gridRow = getGridRowOfButton(target, "#FormGrid");
        var rowData = gridRow.data.TemplateId;
        window.location.href = `AnswerForm?templateId=${rowData}`;
    }

    function onDeleteForm(target) {
        var gridRow = getGridRowOfButton(target, "#FormGrid");
        let rowData = gridRow.data.Id;

        var modal = $("#exampleModalLong");
        modal.find(".modal-title").text("Delete Form");
        const myModal = document.getElementById('exampleModalLong')

        myModal.addEventListener('hidden.bs.modal', event => {

            var buttonId = document.activeElement.getAttribute('id');
            if (buttonId == 'deleteConfirm') {

            let link = `PersonalPage?handler=DeleteForm&id=${rowData}`;

            fetch(link, {
                method: 'POST',
                headers: getAjaxHeaders()                
            }).then(response => response.json())
                .then(data => {
                    if (data.success) {
                        window.location.href = `PersonalPage`;
                        alert('deleted');
                    }
                    else {
                        alert(data.message);
                    }
                })
                .catch(error => {
                    alert('Something went wrong');
                });
            }
            const newModal = myModal.cloneNode(true);
            myModal.parentNode.replaceChild(newModal, myModal);
        });

        modal.modal('toggle');         
    }
</script>
