@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Questionnaire Templates</h1>
</div>


<div>
    <ejs-grid id="TemplateGrid" dataSource="@Model.TemplateList" allowSorting="true" allowSelection="false" queryCellInfo="customizeCell">
        <e-grid-editSettings></e-grid-editSettings>
        <e-grid-columns>
            <e-grid-column field="Title" headertext="Title"></e-grid-column>
            <e-grid-column field="Description" headertext="Description"></e-grid-column>
            <e-grid-column field="Author" headertext="Author"></e-grid-column>
            <e-grid-column field="IsPublic" headertext="Private"></e-grid-column>
            <e-grid-column template="#view"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>
</div>

<script id="view" type="text/x-template">
    <button class="btn btn-outline-primary btn-sm" onclick="onView(this)">
        Open
    </button>
</script>


<script>
    function getGridRowOfButton(target, gridId) {
        var rowElement = target.closest('tr');
        var rowIndex = parseInt(rowElement.getAttribute('data-rowindex'), 10);
        const grid = document.querySelector(gridId).ej2_instances[0];
        let gridRow = grid.getRowsObject()[rowIndex];
        return gridRow;
    }


    function onView(target)
    {
        let gridRow = getGridRowOfButton(target, "#TemplateGrid");
        var rowData = gridRow.data.Id;
        window.location.href = `App/TemplateView?handler=Page&templateId=${rowData}`;
        //window.location.href = `App/TemplateView&templateId=${rowData}`;
    }

    function customizeCell(args)
    {
        if (args.column.field === 'IsPublic')
        {
            if (args.data['IsPublic']) {
                args.cell.innerHTML = "";                
            }
            else {
                args.cell.innerHTML = "&#10003;";
            }
        }
    }
</script>


<style>
    .e-grid .e-focus button {
        outline: none !important;
        box-shadow: none !important;
    }
</style>